.things-to-do-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .attraction-card {
    border: 1px solid grey;
    border-radius: 5px 5px;
    margin: 0 0.5rem;
    margin-bottom: 2%;
    width: 20%;
    height: 300px;
    img {
      min-height: 60%;
      height: 60%;
    }
  }
}
