main {
  .city-header {
    margin-top: 5px;
    background-color: brown;
    font-size: 2rem;
  }
}
.map-attraction-container {
  display: flex;
  flex-direction: column;
  .map-attraction {
    display: flex;
    justify-content: space-around;
    #map {
      width: 30%;
      height: auto;
      margin-right: 1%;
      border: 1px solid #eeeef5;
    }
  }

  .things-to-do-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    border: 1px solid #eeeef5;
    padding: 0 0;
    margin: 0 0;

    .attraction-card {
      // border: 1px solid grey;
      border-radius: 5px 5px;
      margin: 0 0.5rem;
      margin-bottom: 2%;
      width: 30%;
      height: 300px;
      overflow: hidden;
      position: relative;
      &:hover {
        box-shadow: 10px 5px 14px -6px #8c7378;
      }

      .attraction-summary {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2%;
        p {
          margin-bottom: 0;
          font-size: 1rem;
          font-weight: 600;
        }
        .rating {
          .react-stars {
            width: 95%;
          }

          span {
            font-size: 5px;
          }
        }
        div {
          display: flex;
          align-items: center;
          .rating-count {
            margin-left: 10px;
          }
        }
      }
      .user-rating {
        background-color: rgb(230, 162, 162);
        width: 15%;
        position: absolute;
        top: 0;
        opacity: 0.9;
        color: rgb(59, 55, 55);
        font-weight: 600;
        border-radius: 0 5px 5px 0;
      }
      .favorite-icon {
        position: absolute;
        top: 0;
        right: 0.2rem;

        .icon-holder {
          border-radius: 20px;
          border: 2px solid rgb(0, 0, 0, 0);

          .highlight {
            font-size: 1.2rem;
            color: rgb(235, 158, 173);
          }
        }
      }

      .card-img-top {
        transition: transform 0.5s ease;
        min-height: 65%;
        height: 65%;

        &:hover {
          opacity: 0.8;
          transform: scale(0.98);
        }
      }
    }
  }

  @media screen and (min-width: 992px) {
    .things-to-do-container {
      width: 70%;
      .attraction-card {
        width: 30%;
      }
    }
    .map-attraction {
      justify-content: space-around;
      #map {
        width: 30%;
        height: auto;
        // margin-right: 1%;
      }
    }
  }
}

@media screen and (max-width: 792px) {
  .map-attraction-container {
    .map-attraction {
      flex-wrap: wrap;
      justify-content: center;
    }
    .things-to-do-container {
      width: 100%;
      .attraction-card {
        width: 46%;
      }
    }
    .map-attraction {
      #map {
        width: 99%;
        order: -1;
        height: 300px;
        margin-bottom: 1%;
        margin-right: 0;
      }
    }
  }
}
@media screen and (max-width: 456px) {
  .map-attraction-container {
    .things-to-do-container {
      width: 100%;
      .attraction-card {
        width: 100%;
      }
    }
    // .map-attraction {
    //   #map {
    //     width: 50%;
    //     display: none;
    //   }
    // }
  }
}
