main {
  .city-header {
    margin-top: 5px;
    background-color: brown;
    font-size: 2rem;
  }

  .heading {
    margin: 0;
    margin-top: 0.5em;
  }

  .hr {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 2em;
    margin-top: 2em;
    color: rgb(109, 109, 109);
  }

  .create-trip-btn-div {
    //width: 100%;

    .add-trip-btn {
      color: white;
      font-weight: bold;
      border: none;
      padding: 0.4em;
      font-size: 1.3rem;
      border-radius: 15px;
      margin-top: 1em;
      background: rgb(2, 0, 36);
      background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(122, 145, 206, 1) 0%,
        rgba(242, 152, 152, 1) 100%,
        rgba(0, 212, 255, 1) 100%
      );
      &:hover {
        //color: #000000;
        background: #292b2c;
      }
    }
  }
}
.map-attraction-container {
  display: flex;
  flex-direction: column;
  .map-attraction {
    display: flex;
    justify-content: space-around;
    #map {
      width: 30%;
      height: auto;
      margin-right: 1%;
      border: 1px solid #eeeef5;
    }
  }

  .things-to-do-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    //border: 1px solid #eeeef5;
    padding: 0 0;
    margin: 0 0;

    .attraction-card {
      border: 1px solid rgb(241, 241, 241);
      border-radius: 10px 10px;
      margin: 0 0.5rem;
      margin-bottom: 2%;
      width: 30%;
      height: 300px;
      overflow: hidden;
      position: relative;
      //background-color: rgb(252, 252, 252);
      &:hover {
        box-shadow: 10px 5px 14px -6px #d6d6d6;
      }

      .attraction-summary {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2%;
        p {
          margin-bottom: 0;
          font-size: 1rem;
          font-weight: 600;
        }
        .rating {
          .react-stars {
            width: 95%;
          }

          span {
            font-size: 5px;
          }
        }
        div {
          display: flex;
          align-items: center;
          .rating-count {
            margin-left: 10px;
            padding-top: 5px;
            font-size: 0.9rem;
          }
        }
      }
      .user-rating {
        background-color: rgba(231, 191, 57, 1);
        width: 22%;
        position: absolute;
        top: 0;
        opacity: 0.9;
        color: rgb(255, 255, 255);
        padding-left: 0.2em;
        padding-right: 0.2em;
        font-weight: 600;
        border-radius: 0 5px 5px 0;
      }
      .favorite-icon {
        position: absolute;
        top: 0.2rem;
        right: 0.2rem;

        .icon-holder {
          border-radius: 20px;
          border: 2px solid rgb(0, 0, 0, 0);

          .highlight {
            font-size: 1.2rem;
            color: rgb(235, 158, 173);
          }
        }
      }

      .card-img-top {
        transition: transform 0.5s ease;
        min-height: 65%;
        height: 65%;
        object-fit: cover;

        &:hover {
          opacity: 0.8;
          transform: scale(1.02);
        }
      }
    }
  }

  @media screen and (min-width: 992px) {
    .things-to-do-container {
      width: 70%;
      .attraction-card {
        width: 30%;
      }
    }
    .map-attraction {
      justify-content: space-around;
      #map {
        width: 30%;
        height: auto;
        // margin-right: 1%;
      }
    }
  }
}

@media screen and (max-width: 892px) {
  .map-attraction-container {
    .map-attraction {
      flex-wrap: wrap;
      justify-content: center;
    }
    .things-to-do-container {
      width: 100%;
      .attraction-card {
        width: 46%;
      }
    }
    .map-attraction {
      #map {
        width: 99%;
        order: -1;
        height: 300px;
        margin-bottom: 1%;
        margin-right: 0;

        .info-box {
          border: 5px solid blue;
        }
      }
    }
  }
}
@media screen and (max-width: 456px) {
  .map-attraction-container {
    .things-to-do-container {
      width: 100%;
      .attraction-card {
        width: 100%;
      }
    }
  }
}
