.footer-logo {
  font-weight: bold;
  background-color: #232525;
  color: white;
  padding-top: 0.5em;
  font-size: 13px;

  .footer-p {
    font-weight: lighter;
    color: white;
    margin-bottom: 0em;
    padding-bottom: 0.5em;
  }
}
