.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // max-height: 300px;
  width: 100%;
  //border: 1px solid gray;

  .image-res {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }

  .first-image {
    position: relative;
    width: 50%;
    max-height: 400px;
    button {
      position: absolute;
      bottom: 0;
      left: 1%;
      opacity: 0.6;
      font-weight: 500;
      margin-bottom: 0.5em;
      margin-left: 0.2em;
      background-color: #7a91ce;
      &:hover {
        opacity: 1;
        color: #fff;
        font-weight: 600;
      }
    }
  }
  .nested-image-container {
    margin-left: 2px;
    width: 48%;
    display: flex;
    flex-direction: column;
    div {
      margin-bottom: 1px;
      max-height: 200px;
    }
  }
}

.my-modal {
  width: 65vw; /* Occupy 65% of the screen width */
  max-width: 70vw;
  height: 200px;
}

.image-res {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-legend {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  border-radius: 10px;
  background: #000;
  color: #fff;
  margin-top: 2em;
  padding: 2px;
  font-size: 1.5rem;
  text-align: center;
  opacity: 0.5;
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  .image-legend {
    font-size: 1rem;
  }
}
@media screen and (max-width: 568px) {
  .image-legend {
    display: none;
  }
}
