.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#carouselExampleCaptions {
  width: 50%;
}
.my-modal {
  width: 50vw; /* Occupy the 90% of the screen width */
  max-width: 70vw;
  height: 200px;
}
