.nav-container {
  display: flex;
  // background: rgb(2, 0, 36);
  // background: linear-gradient(
  //   90deg,
  //   rgba(2, 0, 36, 1) 0%,
  //   rgba(122, 145, 206, 1) 0%,
  //   rgba(242, 152, 152, 1) 100%,
  //   rgba(0, 212, 255, 1) 100%
  // );
  // flex-direction: row;
  // background-color: rgba($color: #000000, $alpha: 0.6);
  justify-content: space-between;
  // min-height: 75px;
  // align-items: center;
  // position: absolute;
  // top: 0;
  // width: 100%;
}

.nav-title {
  display: flex;
  justify-content: flex-start;
  padding-left: 1.5em;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  span {
    &:hover {
      color: #7a91ce;
    }
  }
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.2em;
  min-width: 30%;
  a {
    margin-right: 0.5em;
    min-width: 25%;
    &:hover {
      background-color: #7a91ce;
      border: none;
      color: white;
    }
  }

  button {
    margin-right: 0.5em;
    min-width: 25%;
    &:hover {
      background-color: #7a91ce;
      border: none;
      color: white;
    }
  }
}
