.nav-container {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
}

.nav-title {
  display: flex;
  justify-content: flex-start;
  padding-left: 1.5em;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;

  &:hover {
    color: lightcoral;
  }
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.2em;
  min-width: 40%;
  a {
    margin-right: 0.5em;
    min-width: 25%;
  }
}
