.parent-trending-cities {
  .hr {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 2em;
    margin-top: 2em;
    color: rgb(109, 109, 109);
  }
}

.trending-cities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .trending-city-card {
    border-radius: 15px;
    margin: 0 0.5rem;
    margin-bottom: 2%;
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .city-name {
      position: absolute;
      z-index: 100;
      transition: transform 0.5s ease;
      top: 1rem;
      left: 1rem;
      color: white;
      font-weight: bold;
      font-size: 1.2rem;
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.5);
      padding: 0.3em;
    }

    .city-summary {
      position: absolute;
      z-index: 100;
      transition: transform 0.5s ease;
      color: white;
      font-weight: bold;
      font-size: 1.5rem;
      opacity: 0;

      p {
        padding: 0;
        margin: 0;
      }
      &:hover {
        cursor: pointer;
      }
    }

    .trending-city-img {
      border-radius: 15px;
      transition: transform 0.5s ease;
      object-fit: cover;
      height: 38vh;
      width: 100%;
    }

    &:hover {
      .city-name {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: all 300ms;
        opacity: 0;
      }

      .trending-city-img {
        -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02);
        transition: all 200ms;
      }

      .city-summary {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.5);
        padding: 0.2em;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: all 300ms;
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .trending-cities-container {
    .trending-city-card {
      width: 45%;
      .city-summary {
        font-size: 1.3rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .trending-cities-container {
    .trending-city-card {
      width: 100%;
    }
  }
}
