@mixin hr {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 2em;
  margin-top: 2em;
  color: rgb(109, 109, 109);
}

.head-background {
  width: 100%;
  background: url(https://images.unsplash.com/photo-1488085061387-422e29b40080?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1189&q=80)
    no-repeat center center;
  // background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
  position: relative;
  .user-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.6);
    color: #ffffff;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    .name {
      margin-top: -0.6em;
      font-size: 2rem;
      font-weight: bold;
    }
    .name,
    .welcome {
      transform: translateY(-90px);
      transition: transform 0.25s;
    }
    &:hover {
      opacity: 1;
    }
    &:hover > * {
      transform: translateY(0);
    }
  }
}

.no-trip-added {
  font-size: 1.2rem;
  margin-top: 4rem;
}
.user-profile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  margin-left: 3em;

  .user-trip-card {
    border-radius: 15px;
    margin: 0 0.5rem;
    margin-bottom: 2%;
    width: 30%;
    position: relative;

    &:hover {
      .city-name-user-profile {
        transform: scale(1.2);
        transition: all 300ms;
      }

      .city-name-user-profile-title {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: all 300ms;
      }

      .user-trip-img {
        transform: scale(1.05);
        transition: all 300ms;
      }
    }

    .city-name-user-profile {
      position: absolute;
      z-index: 100;
      transition: transform 0.5s ease;
      bottom: 1rem;
      left: 1rem;
      color: white;
    }

    .city-name-user-profile-title {
      position: absolute;
      z-index: 100;
      transition: transform 0.5s ease;
      bottom: 1rem;
      left: 1rem;
      color: white;
      font-weight: bold;
      font-size: 20px;
    }

    .user-trip-img {
      border-radius: 15px;
      transition: transform 0.5s ease;
      object-fit: cover;
      height: 38vh;
      width: 100%;
    }
  }
}

.to-do {
  border: solid #bfbfbf;
  border-radius: 15px;
  margin: 0 auto;
  width: 30%;
  float: right;
  padding-bottom: 21.5em;
  margin-right: 3em;
}

.trip-container {
  // width: 60px;
  .trip-city-img-container {
    img {
      width: 500px;
      border-radius: 0.5rem;
    }
    .trip-city-name {
      margin-left: 1rem;
    }
  }
  .attractions-container {
    display: flex;
    margin-left: 1rem;
    width: 500px;
    margin: 0 auto;
    justify-content: space-between;
    background-color: #f3f4f5;
    margin-bottom: 1rem;
    // width: 100%;
    .attractions-img-container {
      img {
        width: 100px;
        border-radius: 5rem;
      }
    }
    .attractions-remove {
      margin-top: 1rem;
      margin-right: 0.5rem;
    }
  }
}

.trip-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  //border: 1px solid rgb(135, 135, 141);
  .trip {
    width: 30%;
    margin-right: 2%;
    border-radius: 20px;
    margin-bottom: 2%;
    button {
      background-color: none;
      border: none;
      padding: 0 1px;
      border-radius: 20px;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }
  }
  .clicked-trip {
    border: 5px solid red;
  }
}

hr {
  @include hr;
}

.attraction-todo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .attraction-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    .attraction {
      width: 45%;
      max-height: 300px;
      margin-right: 1.5rem;
      margin-bottom: 10%;
      display: flex;
      position: relative;
      // justify-content: center;
      // align-items: center;
      flex-direction: column;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    img {
      width: 100%;
      height: 100%;
      min-height: 250px;
      object-fit: cover;
      position: relative;
      border-radius: 15px;
    }
    .attraction-name {
      font-size: 1.2rem;
      font-weight: 600;
      // background-color: burlywood;
      // padding: 0.8em 0;
      position: absolute;
      bottom: 0;
      left: 50;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      margin-bottom: 0;
      padding: 10px 0;
      border-radius: 0px 0px 10px 10px;
      // align-self: center;
      // text-align: left;
    }
  }

  .todo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
    // border: 5px solid black;
  }
}

@media screen and (max-width: 992px) {
  .attraction-todo-container {
    .attraction-container {
      .attraction {
        width: 100%;
        .attraction-name {
          font-size: 1rem;
        }
      }
    }
  }
}
